.sql-text {
  font-size: 12px;
  line-height: 1.6;

  pre {
    padding: 0.88889em;
    margin: 0;
    white-space: pre-wrap;
    overflow: auto;
    background: #f6f6f6;
    border-radius: 4px;
  }

  .hljs {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace !important;

    &.sql {
      .hljs-keyword {
        color: #06f;
      }

      .hljs-operator {
        color: #c2a469;
      }
    }

    &.json {
      .hljs-attr,
      .hljs-number,
      .hljs-boolean {
        color: #f36;
      }
      .hljs-punctuation {
        color: #999;
      }
    }
  }
}
