// Table
// css3 var in packages/theme-chalk/src/table.scss
.el-table {
  th.el-table__cell {
    padding: 0;
    height: 40px;
    font-weight: 500;
  }

  .cell {
    overflow-wrap: break-word;
    word-break: normal;
  }
}

// Tabs
// css3 var in packages/theme-chalk/src/tabs.scss
.el-tabs__nav-wrap.is-top {
  padding: 0 16px;
}

// Tooltip

.el-popper[role='tooltip'] {
  max-width: 400px;
}
