// Table
// css3 var in packages/theme-chalk/src/table.scss
.el-table {
  th.el-table__cell {
    padding: 0;
    height: 40px;
    font-weight: 500;
  }

  .cell {
    overflow-wrap: break-word;
    word-break: normal;
  }
}

// Tabs
// css3 var in packages/theme-chalk/src/tabs.scss
.el-tabs {
  .el-tabs__nav-wrap.is-top {
    padding: 0 16px;
  }

  .el-tabs__item {
    padding: 0 16px;
  }
}

// Tooltip
.el-popper[role='tooltip']:not(.el-popover):not(.el-select__popper) {
  max-width: 400px;
}

// Select
.el-select-v2__popper {
  .el-select-dropdown {
    &__list {
      margin: 4px 0 !important;
    }
    &__option-item {
      width: calc(100% - 8px) !important;
      left: 4px !important;
      border-radius: 6px;
      font-size: var(--el-font-size-base);
    }
  }
}

.el-select__popper {
  .el-select-dropdown {
    &__list {
      padding: 0 4px !important;
      margin: 4px 0 !important;
    }
    &__item {
      border-radius: 6px;
    }
  }
}


