*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
i,
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
small,
b {
  font-weight: normal;
}
small {
  font-size: 12px;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
small,
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: $fontFamily;
}

button, input, select, textarea {
  font-family: inherit;
}
