// 变量
// 会在每个style元素以及scss文件中注入，因此不允许写具体选择器样式
$borderRadiusBtn: 4px;
$borderRadius: 4px;
$fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$codeFontFamily: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

//字体大小变量
$fontTitle: 18px;
$fontSubtitle: 16px;
$fontBaseTitle: 14px;

$color: (
  primary: #3b47e5,
  dprimary: #0e42d2,
  lprimary: #4080ff,
  disprimary: #94bfff,
  success: #00b42a,
  lsuccess: #e8ffea,
  danger: #f53f3f,
  warning: #ff7d00,
  info: #75849b,
  linfo: #e9edf2,
  disable: #c9cdd4,
  white: #fff,
  tag: #008eff,
  secondary: #ff7d00,
  submenu: #f1f2f4,
) !default;

$fontColor: (
  dark: #1d2129,
  normal: #333c4a,
  light: #535f72,
  slight: #c9cdd4,
  sslight: #86909c,
  white: #fff,
);

$bgColor: (
  disable: #f7f8fa,
  active: #ecf5ff,
  hover: #e5e6eb,
  main: #f2f3f5,
  normal: #fafafa,
  form: rgba(239, 241, 244, 0.2),
  stopping: #c39700,
  complete: #008b58,
  special: #c9cdd4,
  white: #fff,
  pageCount: rgba(44, 101, 255, 0.08),
  disactive: rgba(106, 161, 255, 0.1),
  tag: #009bff33,
);

$borderColor: (
  disable: #e4e7ed,
  normal: #ddd,
  slight: #f6f7f7,
  light: #e4e7ed,
  form: #dcdfe6,
  aside: #e1e3e9,
  sslight: #cdd0d6,
);

$iconFillColor: (
  normal: #4e5969,
);

$formNamespace: formily-element-plus;

$tag-icon-span-gap: (
  'large': 8px,
  'default': 4px,
  'small': 4px,
);

// 项目内用到 $namespace
@forward 'element-plus/theme-chalk/src/mixins/config.scss' with (
  $namespace: 'el'
);

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': map-get($color, primary),
    ),
    'warning': (
      'base': map-get($color, warning),
    ),
  ),
  $text-color: (
    'primary': rgba(0, 0, 0, 0.88),
    'regular': rgba(0, 0, 0, 0.88),
    'secondary': rgba(0, 0, 0, 0.65),
    'placeholder': rgba(0, 0, 0, 0.25),
    'disabled': rgba(0, 0, 0, 0.25),
  ),
  $border-radius: (
    'base': 6px,
    'small': 4px,
    'round': 20px,
    'circle': 100%,
  ),
  $dialog: (
    'border-radius': 10px,
    'title-font-size': var(--el-font-size-medium),
  ),
  $table: (
    'header-bg-color': #fafafa,
    'header-text-color': map-get($fontColor, normal),
  ),
  $popover: (
    'border-radius': 8px,
  ),
  $popper: (
    'border-radius': 8px,
  ),
  $tree: (
    'node-content-height': 28px,
  ),
  $pagination: (
    'border-radius': 6px,
  ),
  $messagebox: (
    'border-radius': 10px,
  ),
  $card: (
    'border-radius': 8px,
  ),
);
