registry = "https://registry.npmmirror.com"

public-hoist-pattern[]=regenerator-runtime

public-hoist-pattern[]=@vue/babel*

public-hoist-pattern[]=*eslint*

public-hoist-pattern[]=@formily/vue

public-hoist-pattern[]=element-plus

node-options="--openssl-legacy-provider --max-old-space-size=4096"
