registry=https://tapdata-npm.pkg.coding.net/tapdata/npm/
always-auth=true
//tapdata-npm.pkg.coding.net/tapdata/npm/:username=npm-1624346281225
//tapdata-npm.pkg.coding.net/tapdata/npm/:_password=YTc2NDg5MTBhMTgyM2NkZjlkZjlhZDc1NDQ4OTljMmU4N2M4OWEzMw==
//tapdata-npm.pkg.coding.net/tapdata/npm/:email=payne@tapdata.io
