strict-peer-dependencies=false
; 提升 regenerator-runtime 到 node_modules
public-hoist-pattern[]=regenerator-runtime

public-hoist-pattern[]=@vue/babel*

public-hoist-pattern[]=*eslint*

public-hoist-pattern[]=vue-demi

public-hoist-pattern[]=@vue/composition-api

public-hoist-pattern[]=@formily/vue
