/* 公共全局样式 */
@import './font/iconfont.css';
/* ========================= reset css ====================== */
html,
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
body {
  font-family: PingFang SC, Roboto, Helvetica Neue, Segoe UI, Verdana, Tahoma,
    Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}
i,
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
small,
b {
  font-weight: normal;
}
small {
  font-size: 12px;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
small,
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clean:after {
  content: '';
  display: block;
  line-height: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cursor-p {
  cursor: pointer;
}
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.text-lf {
  text-align: left;
}
.text-rf {
  text-align: right;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.center {
  text-align: center;
}
.fun-area {
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin: 0 !important;
  background-color: #fff;
  .demo-input-suffix {
    padding-left: 20px;
    font-size: 14px;
    .el-input {
      width: 200px;
    }
  }
  .el-input__inner {
    font-size: 12px;
  }
  .el-form {
    .el-col {
      height: 100%;
    }
    .el-form-item {
      height: 60px;
      line-height: 60px;
      margin-bottom: 0;
      .el-form-item__label {
        height: 60px;
        line-height: 60px;
        font-size: 12px;
      }
      .el-form-item__content {
        line-height: 60px !important;
      }
      .el-input {
        .el-input__inner {
          padding-left: 5px;
          .el-icon-date {
            display: none;
          }
        }
      }
    }
  }
  .el-button--primary {
    padding: 6px 10px;
    font-size: 12px;
  }
}
.el-table td,
.el-table th {
  padding: 6px 0;
  font-size: 12px;
  white-space: nowrap;
  .cell {
    white-space: nowrap;
  }
}
.el-table th > .cell {
  font-weight: normal;
}

//分页
.pagination-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 3px #f8f6fa;
  background-color: #fff;
  .el-pagination__sizes .el-input .el-input__inner {
    border: 0;
    border-bottom: 1px solid #ebeef5;
  }
}
a {
  color: #606266;
}
@mixin passwordIconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input[type='text'] + .el-input__suffix {
  .el-input__icon.el-icon-view {
    @include passwordIconfont;
    &::before {
      content: '\e63c';
    }
  }
}
input[type='password'] + .el-input__suffix {
  .el-input__icon.el-icon-view {
    @include passwordIconfont;
    &::before {
      content: '\e63b';
    }
  }
}

$color: (
  primary: #409eff,
  lprimary: #66b1ff,
  success: #67c23a,
  lsuccess: #85ce61,
  danger: #f56c6c,
  warning: #e6a23c,
  info: #909399,
  linfo: rgb(233, 233, 235),
  disable: #bbb
);
$fontColor: (
  normal: #333,
  light: #555,
  slight: #999
);
$bgColor: (
  disable: #f5f5f5,
  hover: #f5f8ff
);
$borderColor: (
  disable: #d9d9d9,
  normal: #ddd
);
#app {
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: unset;
}
.iconfont {
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  //vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.el-icon-success {
  color: map-get($color, success);
}
.el-icon-error {
  color: map-get($color, danger);
}
.icon-daiqidong {
  color: map-get($color, primary);
}
.icon-yunhangzhong {
  color: map-get($color, success);
}
.icon-yichang {
  color: map-get($color, warning);
}
.layout-container .iconfont {
  font-size: 12px;
}
.color-primary {
  color: map-get($color, primary);
}
.el-input__inner {
  border-radius: 2px;
  border: 1px solid #d9d9d9;
}
.el-input__inner:hover {
  border-color: map-get($color, primary);
}
.el-link {
  font-size: 12px;
}
.el-message-box {
  position: relative;
}
.el-message-box__header {
  padding: 30px 30px 0px 30px;
}
.el-message-box__title {
  padding-left: 35px;
  line-height: 24px;
  font-size: 14px;
  font-weight: bold;
  color: map-get($fontColor, normal);
}
.el-message-box__headerbtn {
  display: none;
}
.el-message-box__container {
  position: static;
}
.el-message-box__status {
  top: 30px;
  left: 30px;
  transform: translateY(0);
}
.el-message-box__content {
  padding: 5px 15px 15px 15px;
  font-size: 12px;
  color: map-get($fontColor, light);
}
.el-message-box__status + .el-message-box__message {
  padding-left: 50px;
}
.el-message-box__btns {
  .el-button + .el-button {
    margin-left: 10px !important;
  }
}
.el-message-box {
  .el-message-box__input {
    padding: 0;
    .el-input {
      font-size: 12px;
      input {
        line-height: 28px;
        height: 28px;
      }
    }
  }
  .el-message-box__errormsg {
    margin-top: 5px;
    padding: 0 5px;
    line-height: 20px;
    min-height: 0;
  }
}
