.form-js-editor-wrap {
  &[theme="one_dark"] {
    .code-before,
    .code-after{
      .hljs {
        color: #abb2bf;
        background: rgb(40, 44, 52);
      }
      .hljs-title {
        color: rgb(97,175,239);
      }
    }
  }
  .code-before,
  .code-after{
    .hljs {
      padding: 0 8px;
      background: #ebebeb;
      line-height: 24px;
      font-size: 12px;
      font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    }
  }

  .code-before {
    .hljs {
      border-radius: 4px 4px 0 0;
    }
  }

  .code-after {
    .hljs {
      border-radius: 0 0 4px 4px;
    }
  }

  .form-js-editor-wrap {
    background: #fff;
  }
}
