@import '~web-core/styles/utilities';
@import 'overrides';
@import '~@/assets/fonts/DIN/index.css';

.g-panel-container {
  background: #fff;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
}
//统一滚动条样式
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
}

:hover::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.1);
}

.zsiq_floatmain {
  display: none !important;
}
.Workbench ~ .zsiq_floatmain {
  display: block !important;
}
.error-confirm-fold {
  & > input:checked ~ label {
    display: none;
  }
  & > input:checked + .error-confirm-fold-content {
    white-space: inherit;
  }
}
.el-dialog__body {
  word-wrap: break-word;
  word-break: break-word;
}
