// 变量
// 会在每个style元素以及scss文件中注入，因此不允许写具体选择器样式
$borderRadiusBtn: 4px;
$borderRadius: 4px;
$color: (
  primary: #2c65ff,
  dprimary: #3a5fc4,
  lprimary: #5392ff,
  success: #10c038,
  lsuccess: #dbefd1,
  danger: #f04134,
  warning: #f7a237,
  info: #75849b,
  linfo: #e9edf2,
  disable: #bbb
);
$fontColor: (
  normal: #333,
  light: #555,
  slight: #999,
  main: rgba(0, 0, 0, 1),
  sub: rgba(0, 0, 0, 0.65),
  disable: rgba(0, 0, 0, 0.25)
);
$bgColor: (
  disable: #f5f5f5,
  active: #ecf5ff,
  hover: #f5f8ff
);
$borderColor: (
  disable: #d9d9d9,
  normal: #ddd
);

$fontFamily: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans',
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$codeFontFamily: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

$iconFillColor: (
  normal: #4E5969,
);
