@use 'sass:math';
.join-expression {
  $nw: 300px;
  $ow: 56px;

  .join-operator {
    width: $ow;
    text-align: center;
  }

  .join-name-wrap {
    position: relative;
    padding-right: $ow;
  }
}
