.schema-tree {
  border: 1px solid #f2f2f2;
  border-bottom: none;
  .el-tree-node {
    border-bottom: 1px solid #f2f2f2;
  }
  .el-tree-node__content {
    height: 40px;
  }
  .schema-tree__type {
    padding: 2px 8px;
    font-size: 12px;
    color: rgb(127, 140, 156);
    background: rgb(226, 241, 249);
    border-radius: 20px;
    border: 1px solid #f2f2f2;
  }
}
