/*
* Bootstrap Utility API
* https://getbootstrap.com/docs/5.0/utilities/api/
*/
$spacer: 1rem;
$spacers: ();
$enable-negative-margins: true; // 开启负数margin
@for $i from 0 through 16 {
  $spacers: map-merge(
    $spacers,
    (
      $i:
        $spacer *
        (
          $i/4
        )
    )
  );
}
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/helpers';

// 重写 或 新增
$utilities: map-merge(
  $utilities,
  (
    'display':
      map-merge(
        map-get($utilities, 'display'),
        (
          class: ''
        )
      ),
    'margin-start':
      map-merge(
        map-get($utilities, 'margin-start'),
        (
          class: ml
        )
      ),
    'negative-margin-start':
      map-merge(
        map-get($utilities, 'negative-margin-start'),
        (
          class: ml
        )
      ),
    'margin-end':
      map-merge(
        map-get($utilities, 'margin-end'),
        (
          class: mr
        )
      ),
    'negative-margin-end':
      map-merge(
        map-get($utilities, 'negative-margin-end'),
        (
          class: mr
        )
      ),
    'padding-start':
      map-merge(
        map-get($utilities, 'padding-start'),
        (
          class: pl
        )
      ),
    'padding-end':
      map-merge(
        map-get($utilities, 'padding-end'),
        (
          class: pr
        )
      )
  )
);

@import '~bootstrap/scss/utilities/api';

.justify-center {
  justify-content: center !important;
}

.align-center {
  align-items: center !important;
}

.grabbable {
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
  &-col-resize {
    cursor: col-resize;
  }
  &-row-resize {
    cursor: row-resize;
  }
  &-grabbing {
    cursor: grabbing;
  }
}
