.catalogue-page-main-box{
  display: flex;
  flex: 1;
  width: 100%;
  border-radius: 4px;
  background-color: map-get($bgColor, white);
}
.page-left {
  border-right: 1px solid #ebeef5;
}
.page-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 4px;
  padding: 20px;
}
.catalogue-page-topbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
  .catalogue-page-search-bar {
    margin: 0 5px 15px 0;
  }
  .catalogue-page-operation-bar {
    margin-bottom: 10px;
    text-align: right;
  }
}
