.schema-preview {
  .schema-card {
    min-width: 240px;
    &-header {
      background-color: var(--bg-light);
      //border-top: 8px solid rgb(132, 204, 22);
      border-top: 6px solid var(--color-primary);
    }

    .field-icon {
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .hide-index-sub {
    .index-sub {
      display: none;
    }
  }

  .hide-unique-sub {
    .unique-sub {
      display: none;
    }
  }

  .hide-foreign-sub {
    .foreign-sub {
      display: none;
    }
  }
}
