.formily-element-form-item-label-tooltip {
  * {
    cursor: pointer;
  }

  &-content {
    white-space: pre-wrap;
  }
}

.formily-element-form-collapse.el-collapse.inset {
  .el-collapse-item__header {
    padding-left: 16px;
  }
  .el-collapse-item__content {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.formily-element-form-item.item-control-horizontal {
  .formily-element-form-item-control {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
