.merge-table-tree-space {
  border: 1px solid rgba(221, 221, 221, 0.4);
  max-height: calc(100vh - 120px);

  hr.v-divider {
    border-color: rgba(221, 221, 221, 0.4);
  }

  .formily-element-space-item {
    overflow-y: auto;
  }

  .el-tree {
    &-node {
      &__content {
        height: 30px;
        &:hover {
          background-color: var(--el-fill-color-light);
        }

        .el-tree-node__expand-icon {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .el-image {
          width: 20px;
          height: 20px;
          vertical-align: middle;
        }
      }

      &.is-current > .el-tree-node__content {
        background-color: var(--primary-hover-light);
      }

      &.is-drop-inner > .el-tree-node__content {
        background-color: var(--el-color-primary-light-8);
      }
    }
  }

  .merge-table-tree-node {
    &-action {
      display: none;
    }

    &:hover .merge-table-tree-node-action {
      display: inline-flex;
    }
  }
}
