.merge-table-cache-tree {
  .el-tree-node:focus > .el-tree-node__content {
    background-color: unset;
  }
  .el-tree-node__content {
    .hover-flex {
      display: none;
    }
    &:hover .hover-flex {
      display: inline-flex;
    }
  }
  .el-tree-node__content.el-tree-node__content:has(.is-active) {
    background-color: var(--el-color-primary-light-9);
  }
}
