@import '../../../variables';

.#{$prefix-cls}-node-path {
  padding: 4px 10px !important;
  border-bottom: 1px solid var(--dn-panel-border-color);
  line-height: 1.5715;

  .#{$prefix-cls}-icon {
    font-size: 14px;
  }

  .el-breadcrumb__separator {
    margin: 0 4px !important;
  }

  a {
    font-size: 14px;
  }
}
