.field-processor-tree-warp {
  border: 1px solid;
  border-color: map-get($borderColor, normal);
  .clickable{
    color: map-get($color, primary);
  }
  .disable__btn{
    background-color: map-get($bgColor, disable);
    border-color: #E4E7ED;
    color: #C0C4CC;
    cursor: not-allowed;
  }
  .active__name{
    .el-input__inner{
      color: map-get($color, primary);
    }
  }
  .active__type {
    .el-input__inner{
      color: map-get($color, primary);
    }
  }
  .check-all{
    padding-left: 24px;
  }
  .field-name{
    flex:1;
  }
  .field-type{
    width: 100px;
  }
  .field-ops{
    width: 250px;
    text-align: right;
    margin-right: 24px;
  }
  .field-desc{
    width: 250px;
  }
  .field-text{
    display: inline-block;
    font-weight: bold;
  }
  .tree-node{
    line-height: 50px;
  }
  .field-processor-operation{
    height: 36px;
  }
  .title-input-icon{
    position: absolute;
    right: 10px;
    top: 19px;
  }
  .field-processor-tree {
    .tree-field-input-wrap{
      position: relative;
    }
    .tree-field-input .el-input__inner:hover{
      border: 1px solid;
      border-color: map-get($borderColor, disable)
    }
    .el-input__inner{
      border: none;
      background-color: transparent;
      font-size: 11px;
      padding: 0 5px;
    }
    .el-tree-node__content {
      height: 50px;
      cursor: pointer;
      border-top: 1px solid;
      border-color: map-get($borderColor, slight);
      font-size: 12px;
    }
    .el-input__prefix, .el-input__suffix .el-select__caret{
      color: map-get($color, primary);
    }
    .e-select {
      width: 100px;
      font-size: 11px;
    }
    .e-desc {
      width: 250px;
      font-size: 11px;
    }
    .e-ops {
      width: 250px;
      font-size: 11px;
      text-align: right;
      margin-right: 24px;
    }
    .item {
      width: 32%;
      font-size: 12px;
    }
    .e-label {
      flex: 1;
    }
      .e-triangle {
        width: 0;
        height: 0;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        border-bottom: 5px solid transparent;

        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);

        position: relative;
        left: -3px;
        top: -11px;
      }
      .el-icon-more {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
}


