$color:(
  primary: #337dff,
  lprimary: #5392FF,
  success: #10C038,
  lsuccess: #DBEFD1,
  danger: #F04134,
  warning: #f7a237,
  info: #75849B,
  linfo: #E9EDF2,
  disable: #bbb
);
$fontColor:(
  normal: #333,
  light: #555,
  slight: #999
);
$bgColor:(
  disable: #f5f5f5,
  hover: #f5f8ff
);
$borderColor:(
  disable: #d9d9d9,
  normal: #ddd
);
#app {
	font-weight: 400;
	font-style: normal;
	-webkit-font-smoothing: unset;
}
.iconfont {
	font-family: "iconfont" !important;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	//vertical-align: baseline;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.el-icon-success {
	color: map-get($color, success);
}
.el-icon-error {
	color: map-get($color, danger);
}
.icon-daiqidong {
	color: map-get($color, primary);
}
.icon-yunhangzhong {
	color: map-get($color, success);
}
.icon-yichang {
	color: map-get($color, warning);
}
.layout-container .iconfont {
	font-size: 12px;
}
.color-primary {
	color: map-get($color, primary);
}
.el-select-dropdown__item.selected {
	color: map-get($color, primary);
	font-weight: normal;
}
.el-select-dropdown .el-select-group__wrap {
	padding-top: 10px;
	padding-bottom: 0;
	&::after {
		display: none;
	}
	.el-select-group__title{
		font-size: 14px;
		font-weight: bold;
		color: map-get($fontColor, normal);
	}
	.el-select-group {
		padding: 0 20px;
		display: flex;
		flex-wrap: wrap;
	}
	.el-select-dropdown__item {
		margin-right: 10px;
		margin-bottom: 10px;
		width: 130px;
		text-align: center;
		border: 1px solid #d9d9d9;
		border-radius: 2px;
		height: 32px;
		line-height: 30px;
		font-size: 12px;
		color: map-get($fontColor, light);
		background: #fff;
		&.selected {
			border-color: map-get($color, primary);
			color: map-get($color, primary);
			background: rgb(225, 236, 255);
		}
		&:hover {
			border-color: map-get($color, primary);
			color: map-get($color, primary);
		}
	}
}
.el-select .el-input.is-focus .el-input__inner {
	border-color: map-get($color, primary);
}
.el-input__inner {
	border-radius: 2px;
	border: 1px solid #D9D9D9;
}
.el-input__inner:hover {
	border-color: map-get($color, primary);
}
.el-radio__inner:hover {
	border-color: map-get($color, primary);
}
.el-radio__input.is-checked .el-radio__inner {
	border-color: map-get($color, primary);
	background-color: map-get($color, primary);
}
.el-radio-button__inner {
	font-weight: normal;
	color: map-get($fontColor, light);
	background: #fff;
}
.el-radio-button__inner:hover {
	color: map-get($color, primary);
}
.el-radio-button:first-child:last-child .el-radio-button__inner {
	border-radius: 2px;
}
.el-radio-button:first-child .el-radio-button__inner {
	border-radius: 2px 0 0 2px;
}
.el-radio-button:last-child .el-radio-button__inner {
	border-radius:  0 2px 2px 0;
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner {
	color: map-get($color, primary);
	background-color: rgb(225, 236, 255);
	border-color:map-get($color, primary);
}
.el-divider__text, .el-link {
	font-size: 12px;
}
.el-link.is-underline:hover:after {
	display: none;
}
.el-link.el-link--default {
	color: map-get($fontColor, normal);
}
.el-link.el-link--default:hover {
	color:map-get($color, primary);
	&::after {
		display: none;
	}
}
.el-link.el-link--primary {
	color:map-get($color, primary);
	font-weight: normal;
	font-size: 12px;
}
.el-link.el-link--primary:hover {
	color: map-get($color, lprimary);
}
.el-link.is-disabled {
	cursor: default;
}
.el-link.el-link--primary.is-disabled {
	color: map-get($color, disable);
}
.el-tooltip__popper {
	padding: 5px 10px;
}
.el-tooltip__popper.is-dark {
	line-height: 20px;
	background: rgba(0,0,0,0.7);
}
.el-button {
	font-weight: normal;
}
.el-button.is-plain:focus {
	border-color: map-get($borderColor, normal);
	color: map-get($fontColor, normal);
}
.el-button.is-plain:focus:hover {
	color: map-get($color, primary);
	border-color: map-get($color, primary);
}
.el-button--primary {
	background-color: map-get($color, primary);
	border: none;
}
.el-button--mini, .el-button--small {
	border-radius: 2px;
}
.el-button:focus, .el-button:hover {
	background-color: #fff;;
	color: map-get($color, primary);
	border-color: map-get($color, primary);
}
.el-button--primary:hover {
	background-color: map-get($color, lprimary);
	border-color: map-get($color, lprimary);
	color: #fff;
}
.el-button--primary:focus.el-button--primary:hover {
	background-color: map-get($color, lprimary);
	border-color: map-get($color, lprimary);
	color: #fff;
}
.el-button--primary:focus, .el-button--primary.is-active, .el-button--primary:active {
	background-color: map-get($color, primary);
	border-color: map-get($color, primary);
	color: #fff;
}
.el-button--primary.is-disabled,
.el-button--primary.is-disabled:active,
.el-button--primary.is-disabled:focus,
.el-button--primary.is-disabled:hover {
	color: map-get($color, disable);
	border-color: map-get($borderColor, disable);
	background-color: map-get($bgColor, disable);
}
.el-checkbox {
	font-weight: normal;
	color: map-get($fontColor, light);
}
.el-checkbox__label {
	font-size: 12px;
}
.el-checkbox__inner:hover {
	border-color: map-get($color, primary);
}
.el-checkbox__input.is-focus .el-checkbox__inner {
	border-color: map-get($color, primary);
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
	border-color: map-get($color, primary);
	background-color: map-get($color, primary);
}
.el-checkbox__input.is-checked+.el-checkbox__label {
	color: unset;
}
.el-menu {
	border-right: none;
}
.el-dropdown {
	font-size: 12px;
}
.el-dropdown-link {
	cursor: pointer;
	font-size: 12px;
    color: map-get($color, primary);
}
.el-dropdown-menu__item {
	color: map-get($fontColor, normal);
}
.el-dropdown-menu--small .el-dropdown-menu__item {
	line-height: 32px;
}
.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
	color: map-get($fontColor, normal);
}
.el-menu-item {
	font-size: 12px;
}
.el-menu-item, .el-submenu__title {
	height: 40px;
	line-height: 40px;
	border-left: 3px solid #fff;
}
.el-menu-item.is-active {
	color: map-get($color, primary);
	border-color: map-get($color, primary);
}
.el-table {
	color: map-get($fontColor, normal);
}
.el-table::before {
	display: none;
}
.el-table.table-border::before {
	display: block;
}
.el-table thead {
	color: map-get($fontColor, normal);
}
.el-table__fixed-right-patch {
	background: #F4F5F7;
}
.el-table th {
	background: #F4F5F7;
}
.el-table td, .el-table th.is-leaf {
	border-bottom: none;
}
.el-table.table-border th {
	padding: 0;
	height: 40px;
}
.el-table.table-border td {
	border-bottom: 1px solid #eceef1;
}
.el-table--small td {
	padding: 5px 0;
}
.el-table .cell {
	line-height: 30px;
}
.el-table__body tr.hover-row>td {
	background-color: map-get($bgColor, hover);
}
.table-border.el-table--enable-row-hover .el-table__body tr:hover>td {
	background-color: inherit;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
	background-color: map-get($color, primary);
}
.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link {
	font-weight: normal;
	color: map-get($color, primary);
}
.el-breadcrumb__inner a:hover, .el-breadcrumb__inner.is-link:hover {
	color: map-get($color, lprimary);
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
	color: map-get($fontColor, normal);
}
.el-tag--small {
	border-radius: 2px;
	height: 20px;
	line-height: 18px;
}
.el-tag.el-tag--success {
	color: map-get($color, success);
	border-color: map-get($color, success);
	background-color: map-get($color, lsuccess);
}
.el-tag.el-tag--info {
	color: map-get($color, info);
	border-color: map-get($color, info);
	background-color: map-get($color, linfo);
}
.el-message-box {
	position: relative;
}
.el-message-box__header {
	padding: 30px 30px 0px 30px;
}
.el-message-box__title {
	padding-left: 35px;
	line-height: 24px;
	font-size: 14px;
	font-weight: bold;
	color: map-get($fontColor, normal);
}
.el-message-box__headerbtn {
	display: none;
}
.el-message-box__container {
	position: static;
}
.el-message-box__status {
	top: 30px;
	left: 30px;
	transform: translateY(0);
}
.el-message-box__content {
	padding: 5px 15px 15px 15px;
	font-size: 12px;
	color: map-get($fontColor, light);
}
.el-message-box__status+.el-message-box__message {
	padding-left: 50px;
}
.el-message-box--alert {
	width: 315px;
	.el-message-box__content {
		padding: 0 15px 15px 15px;
		font-size: 14px;
	}
}
.table-page-main {
	background: #fff;
}
//覆盖表单创建任务
.CT-task-wrap {
	.CT-task-container{
		.step-header {
			.step-box {
				li {
					&.active {
						color: map-get($color, primary);
						&::before {
							background: map-get($color, primary);
						}
						.step-index {
							border-color: #fff;
							background: map-get($color, primary);
							color: #fff;
						}
					}
				}
			}
		}
	}
}
.fb-radio .el-radio.is-bordered.is-checked {
	border: 1px solid map-get($color, primary);
}
.data-flow-wrap .panel-main .main.main-border .title {
	color: map-get($color, primary);
}
.monitorTab {
  display: none !important;
}
