@use "sass:math";
.join-expression {
  $nw: 300px;
  $ow: 60px;
  .join-operator {
    width: $ow;
    text-align: center;
  }

  .join-name-wrap {
    position: relative;
  }

  .join-name {
    margin-right: $ow;
    width: $nw;
  }

  .join-field {
    width: $nw;
  }

  .join-exchange {
    position: absolute;
    left: $nw + math.div($ow, 2);
    transform: translateX(-50%);
  }
}
