:root {
	--animate-duration: .5s;
	--animate-delay: 1s;
	--animate-repeat: 1;
  }
  .animate__animated {
	animation-duration: 1s;
	animation-duration: var(--animate-duration);
	animation-fill-mode: both;
  }
@keyframes slideInDown {
	from {
	  transform: translate3d(0, -100%, 0);
	  visibility: visible;
	}

	to {
	  transform: translate3d(0, 0, 0);
	}
  }
  .animate__slideInDown {
	animation-name: slideInDown;
  }
  @keyframes slideInUp {
	from {
	  transform: translate3d(0, 100%, 0);
	  visibility: visible;
	}

	to {
	  transform: translate3d(0, 0, 0);
	}
  }
  .animate__slideInUp {
	animation-name: slideInUp;
  }
  @keyframes slideOutDown {
	from {
	  transform: translate3d(0, 0, 0);
	}

	to {
	  visibility: hidden;
	  transform: translate3d(0, 100%, 0);
	}
  }
  .animate__slideOutDown {
	animation-name: slideOutDown;
  }
  @keyframes slideOutUp {
	from {
	  transform: translate3d(0, 0, 0);
	}

	to {
	  visibility: hidden;
	  transform: translate3d(0, -100%, 0);
	}
  }
  .animate__slideOutUp {
	animation-name: slideOutUp;
  }
