@import "~@/editor/lib/rappid/rappid.css";
@import "~@/editor/lib/rappid/themes/style.default.css";
@import "./animate.scss";

$borderColor: #d3d3d3;
$selectedColor: #d3d3d3;

.color-primary {
	color: #409EFF
}

.color-danger {
	color: #F56C6C;
}

.color-info {
	color: #909399;
}

.color-warning {
	color: #E6A23C;
}

.color-success {
	color: #67C23A;
}



.editor-container {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	background: #fff;

	.editor {
    @extend .editor-container;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;

		overflow: hidden;

		.e-header,
		.e-body,
		.e-footer {
			width: 100%;
		}

		.e-header

		/*, .e-footer*/
			{
			height: 40px;
			overflow: hidden;
		}

		.e-header {
			border-bottom: 1px solid $borderColor;

			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-direction: row;

			.e-action-bar {
				height: 100%;
				line-height: 43px;
				margin-left: 8px;

				.icon-biaotongbu {
					color: #48b6e2;
					font-size: 22px;
					cursor: pointer;
				}
			}

			.e-title {
				position: relative;
				box-sizing: border-box;
				width: 201px;
				padding: 0 30px 0 0;
			}

			.el-icon {
				display: inline-block;
				position: relative;
				left: -12px;
			}

			.ui-input {
				-webkit-appearance: none;
				background-color: #FFF;
				background-image: none;
				border-radius: 4px;
				border: none;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				color: #606266;
				display: inline-block;
				height: 40px;
				line-height: 40px;
				outline: 0;
				font-size: 12px;
				padding: 0 15px;
				-webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
				transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
				width: 100%;
			}

			.e-toolbar-container {

				flex: 1;

				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-direction: row;

				.action-toolbar {
					flex: auto !important;
					text-align: right;

					/*button{
						margin-left: 2px;
						text-align: center;
						flex-shrink: 1;

						outline: 0;
						cursor: pointer;
						color: #fff;
						padding: 5px;
						background: #409eff;
						border: 1px solid #409eff;
						min-width: 30px;
						min-height: 30px;
						font-size: 12px;
						border-radius: 4px;

						&:hover {
							background: #5daeff;
						}

						&[data-type=save]:after {
							content: 'Save';
						}
					}*/

				}
			}
		}

		.e-body {
			flex: 1;

			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: stretch;
			position: relative;
			overflow: hidden;

			.e-content {
				height: 100%;
				position: relative;
				flex: 1;
				overflow: hidden;
				display: flex;
				flex-direction: column;
				background-color: #fff;
				z-index: 99;
				.graph-container {
					flex: 1;
					position: relative;
					overflow: hidden;

					.navigator-container {
						position: absolute;
						right: 20px;
						bottom: 20px;
						width: 150px;
						height: 150px;
						z-index: 100;
						background: #fff;
					}
					.navigator-btn {
						position: absolute;
						left: 20px;
						bottom: 20px;
						z-index: 100;
					}
				}

				.joint-paper-scroller {
					overflow: auto;
				}
			}

			.e-sidebar {
				position: relative;

				&.e-sidebar-left,
				&.e-sidebar-right,
				.e-sidebar-content {
					height: 100%;
					position: relative;
				}

				&.e-sidebar-top,
				&.e-sidebar-bottom {
					height: 240px;
					width: 100%;
				}

				&.e-sidebar-left,
				&.e-sidebar-right {
					width: 240px;
				}

				.e-sidebar.fixed,
				.e-sidebar.fixed {
					position: absolute;
				}

				&.e-sidebar-right {
					border-left: 1px solid $borderColor;

					.fixed {
						right: 0;
					}
				}

				&.e-sidebar-left {
					border-right: 1px solid $borderColor;

					&.fixed {
						left: 0;
					}
				}

				.e-slider {
					background-color: #469cfd00;

					display: flex;
					justify-content: center;
					align-items: center;
					color: rgba(0, 0, 0, 0.3);
					z-index: 1990;

					position: absolute;

					&.e-slider-left,
					&.e-slider-right {
						top: 0;
						width: 6px;
						height: 100%;
						cursor: col-resize;
					}

					&.e-slider-left {
						right: 0;
						margin-right: -3px;
					}

					&.e-slider-right {
						left: 0;
						margin-left: -3px;
					}

					&.e-slider-top,
					&.e-slider-bottom {
						left: 0;
						height: 6px;
						width: 100%;
						cursor: row-resize;
					}

					&.e-slider-top {
						bottom: 0;
						margin-bottom: -3px;
					}

					&.e-slider-bottom {
						top: 0;
						margin-top: -3px;
					}

					&.active,
					&:hover {
						background-color: $borderColor;
					}
				}
			}

			.e-tab-panel {
				display: flex;
				justify-content: left;
				flex-flow: column nowrap;
				height: 100%;

				.monitorTab {

					display: flex;
					flex-flow: row wrap;
					justify-content: flex-start;
					align-items: center;
					background-color: #EFF1F4;
					.e-tab-title {
						line-height: 30px;
						padding: 0 30px;
						cursor: pointer;
						background: #EFF1F4;

						margin-bottom: -1px;

						font-size: 12px;
						color: #666;

						&:first-child {
							border-left: 1px solid $borderColor;
							margin-left: -1px;
						}

						&:hover {
							background: #eeeeee;
						}

						&.active {
							background: #ffffff;
							color: #48B6E2;
						}
					}
				}

				.e-tab-bar {

					border-bottom: 1px solid $borderColor;

					display: flex;
					flex-flow: row wrap;
					justify-content: flex-start;
					align-items: center;
					padding-left: 10px;

					.e-tab-title {
						line-height: 30px;
						padding: 0 20px;
						border-right: 1px solid $borderColor;
						border-top: 1px solid $borderColor;
						border-bottom: 1px solid $borderColor;
						cursor: default;
						background: #fafafa;

						margin-bottom: -1px;

						font-size: 12px;

						&:first-child {
							border-left: 1px solid $borderColor;
							margin-left: -1px;
						}

						&:hover {
							background: #eeeeee;
						}

						&.active {
							background: #ffffff;
							color: #48B6E2;
							border-bottom: 1px solid #fff;
						}
					}
				}

				.e-tab-content {
					background: #fff;
					flex: 1;
					overflow: auto;

					.e-tab {
						height: 100%;
						overflow: hidden;
						display: none;

						&.active {
							display: block;
						}
					}
				}
			}

			.e-panel {
				position: relative;
				height: 100%;
				box-sizing: border-box;
				background: #fafafa;
			}

			.e-vue-component-wrap {
				overflow: auto;
				height: 100%;
				padding-bottom: 20px;
			}
		}

	}

	.headImg {
		display: inline-block;
		padding: 0 5px;

		.text {
			font-size: 12px;
			color: #666;
		}
	}

	.btnHover:hover .iconfont {
		color: #48B6E2;
		cursor: pointer;

	}

	.headImg.borderStyle {
		padding: 3px;
		margin: 0 4px;
		text-align: center;
		font-size: 14px;

		span {
			font-size: 12px;
			vertical-align: middle;
		}
	}

	.round {
		padding: 3px 10px;
		border-radius: 20px;
		background-color: #E9E9E9;
		cursor: pointer;
		.iconfont {
			font-size: 12px;
		}
	}

	.round:hover {
		background-color: #EDF8FC;
		color: #48b6e2;

		.text {
			color: #48b6e2;
		}
	}

	.round:active {
		background-color: #48B6E2;
		color: #fff;

		.text {
			color: #fff;
		}
	}

}

.resizable-overlay {
	position: absolute;
	z-index: 1000000;
	width: 100%;
	height: 100%;
	top: 0;
	overflow: hidden;

	&.x-resizable-overlay {
		cursor: col-resize;
	}

	&.y-resizable-overlay {
		cursor: row-resize;
	}
}

.editor-container .editor .e-header .ui-input {
	padding: 0 6px;
}

.editor-container .editor .e-header .e-toolbar-container {
	justify-content: center;
}

.editor-container .editor .e-header .e-toolbar-container .graph-toolbar,
.editor-container .editor .e-header .e-toolbar-container .action-toolbar {
	flex: 1;
}

.editor-container .editor .e-header .e-toolbar-container .graph-toolbar .joint-toolbar {
	float: right;
}

.editor-container .editor .e-header .e-toolbar-container .action-toolbar .action-buttons {
	text-align: left;
}

.head-btns {
	width: 100%;
	text-align: right;

	.e-button {
		padding: 8px 10px;
		font-size: 12px;
	}
}

.nodeHeight {
	height: calc(100% - 40px)!important;
}
.nodeStyle {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #FAFAFA;
	overflow: auto;

	head {
		width: 100%;
		height: 24px;
		line-height: 24px;
		background-color: #F1F1F1;

		.headIcon {
			display: inline-block;
			width: 24px;
			height: 100%;
			background: #48b6e2;
			text-align: center;
			color: #fff;
			cursor: pointer;
		}

		.txt {
			padding-left: 10px;
			font-size: 12px;
		}
	}

	.nodeBody {
		/**节点选择样式**/
		padding: 20px;
		box-sizing: border-box;
		.e-form {
			.addTxt {
				float: right;
				display: inline-block;
				height: 30px;
				line-height: 30px;
				font-size: 12px;
				color: #48b6e2;
			}

			.el-form-item {
				margin-bottom: 10px;
			}

			.el-form-item__label {
				line-height: 30px;
				padding: 0;
				font-size: 12px;
			}

			.el-form-item__content {
				width: 100%;
				line-height: 30px;

				.el-select {
					width: 100%;
				}

				.el-input__inner {
					width: 100%;
					height: 30px;
					line-height: 30px;
				}

				.el-input__inner::-webkit-input-placeholder {
					font-size: 12px;
				}

				.el-textarea__inner {
					font-size: 12px;
				}

				.el-input__icon {
					line-height: 30px;
				}
			}
		}
	}

	.e-entity-wrap {
		flex: 1;
		overflow: auto;
	}

}

