@import "../lib/rappid/rappid.css";
@import "../lib/rappid/themes/style.default.css";

@borderColor: #d3d3d3;
@selectedColor: #d3d3d3;

.editor-container {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	background: #fff;

	.editor:extend(.editor-container) {

		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;

		overflow: hidden;

		.e-header, .e-body, .e-footer {
			width: 100%;
		}

		.e-header/*, .e-footer*/ {
			height: 40px;
			overflow: hidden;
		}

		.e-header{
			border-bottom: 1px solid @borderColor;

			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-direction: row;

			.e-action-bar {
				height: 100%;
				line-height: 40px;
				background: #48b6e2;

				.icon-xiangzuo {
					color: #ffffff;
					font-size: 22px;
					cursor: pointer;
				}
			}
			.e-title {
				box-sizing: border-box;
				width: 170px;
				padding: 0 12px;
			}

			.e-toolbar-container {

				flex: 1;

				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-direction: row;

				.action-toolbar {
					flex: 1;

					text-align: right;
					padding: 0 12px;

					/*button{
						margin-left: 2px;
						text-align: center;
						flex-shrink: 1;

						outline: 0;
						cursor: pointer;
						color: #fff;
						padding: 5px;
						background: #409eff;
						border: 1px solid #409eff;
						min-width: 30px;
						min-height: 30px;
						font-size: 12px;
						border-radius: 4px;

						&:hover {
							background: #5daeff;
						}

						&[data-type=save]:after {
							content: 'Save';
						}
					}*/

				}
			}
		}

		.e-body {
			flex: 1;

			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
			position: relative;
			overflow: hidden;

			.e-content {
				height: 100%;
				position: relative;
				flex: 1;
				overflow: hidden;

				display: flex;
				flex-direction: column;

				.graph-container {
					flex: 1;
					position: relative;
					overflow: hidden;

					.navigator-container {
						position: absolute;
						right: 20px;
						bottom: 20px;
						width: 150px;
						height: 150px;
						z-index: 100;
						background: #fff;
					}
				}

				.joint-paper-scroller {
					overflow: auto;
				}
			}

			.e-sidebar {
				position: relative;

				&.e-sidebar-left,
				&.e-sidebar-right,
				.e-sidebar-content{
					height: 100%;
					position: relative;
				}

				&.e-sidebar-top,
				&.e-sidebar-bottom {
					height: 240px;
					width: 100%;
				}
				&.e-sidebar-left,
				&.e-sidebar-right {
					width: 240px;
				}

				.e-sidebar.fixed, .e-sidebar.fixed {
					position: absolute;
				}

				&.e-sidebar-right{
					border-left: 1px solid @borderColor;
					.fixed {
						right: 0;
					}
				}

				&.e-sidebar-left {
					border-right: 1px solid @borderColor;
					&.fixed {
						left: 0;
					}
				}

				.e-slider{
					background-color: #469cfd00;

					display: flex;
					justify-content: center;
					align-items: center;
					color: rgba(0,0,0,0.3);
					z-index: 100000;

					position: absolute;

					&.e-slider-left,
					&.e-slider-right {
						top: 0;
						width: 6px;
						height: 100%;
						cursor: col-resize;
					}
					&.e-slider-left{
						right: 0;
						margin-right: -3px;
					}
					&.e-slider-right{
						left: 0;
						margin-left: -3px;
					}

					&.e-slider-top,
					&.e-slider-bottom {
						left: 0;
						height: 6px;
						width: 100%;
						cursor: row-resize;
					}
					&.e-slider-top{
						bottom: 0;
						margin-bottom: -3px;
					}
					&.e-slider-bottom{
						top: 0;
						margin-top: -3px;
					}

					&.active, &:hover{
						background-color: @borderColor;
					}
				}
			}

			.e-tab-panel {
				display: flex;
				justify-content: left;
				flex-flow: column nowrap;
				height: 100%;

				//border: 1px solid @borderColor;

				.e-tab-bar {

					border-bottom: 1px solid @borderColor;

					display: flex;
					flex-flow: row wrap;
					justify-content: flex-start;
					align-items: center;

					.e-tab-title{
						line-height: 30px;
						padding: 0 5px;
						border-right: 1px solid @borderColor;
						border-top: 1px solid @borderColor;
						cursor: default;
						background: #d3d3d3;

						margin-bottom: -1px;

						&:first-child {
							border-left: 1px solid @borderColor;
							margin-left: -1px;
						}

						&:hover{
							background: #eeeeee;
						}
						&.active{
							background: #ffffff;
						}
					}
				}
				.e-tab-content {
					flex: 1;
					overflow: auto;

					.e-tab {
						height: 100%;
						overflow: hidden;
						display: none;

						&.active {
							display: block;
						}
					}
				}
			}

			.e-panel {
				position: relative;
				height: 100%;
				padding: 5px;
				box-sizing: border-box;
				background: #fafafa;
			}

			.e-vue-component-wrap {
				overflow: auto;
				height: 100%;
				padding-bottom: 20px;
			}
		}

	}
}
.resizable-overlay {
	position: absolute;
	z-index: 1000000;
	width: 100%;
	height: 100%;
	top: 0;
	overflow: hidden;
	&.x-resizable-overlay {
		cursor: col-resize;
	}
	&.y-resizable-overlay {
		cursor: row-resize;
	}
}
