@import "./iconfont/iconfont.css";
@import "../lib/rappid/rappid.css";

@borderColor: #ddd;

.editor-container {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;

	.editor:extend(.editor-container) {

		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;

		overflow: hidden;

		.e-header, .e-body, .e-footer {
			width: 100%;
		}

		.e-header/*, .e-footer*/ {
			height: 30px;
		}

		.e-header{
			border-bottom: 1px solid @borderColor;
		}

		.e-body {
			flex: 1;

			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
			position: relative;

			.e-sidebar, .e-content {
				height: 100%;
				position: relative;
			}

			.e-content {
				flex: 1;
				overflow: hidden;

				.joint-paper-scroller {
					overflow: auto;
				}
			}

			.e-sidebar-left, .e-sidebar-right {
				width: 300px;
			}

			.e-sidebar-right.fixed, .e-sidebar-left.fixed {
				position: absolute;
			}

			.e-sidebar-right{
				border-left: 1px solid @borderColor;
				.fixed {
					right: 0;
				}
			}

			.e-sidebar-left {
				border-right: 1px solid @borderColor;
				&.fixed {
					left: 0;
				}
			}

			.e-sidebar .e-slider{
				width: 6px;
				height: 100%;
				background-color: #469cfd00;
				cursor: col-resize;

				display: flex;
				justify-content: center;
				align-items: center;
				color: rgba(0,0,0,0.3);

				&.e-slider-left{
					float: right;
					margin-right: -3px;
				}
				&.e-slider-right{
					float: left;
					margin-left: -3px;
				}

				&.active, &:hover{
					background-color: @borderColor;
				}
			}

		}

	}
}
.resizable-overlay {
	position: absolute;
	z-index: 1000000;
	width: 100%;
	height: 100%;
	top: 0;
	overflow: hidden;
	&.x-resizable-overlay {
		cursor: col-resize;
	}
	&.y-resizable-overlay {
		cursor: row-resize;
	}
}
