$borderColor: #d3d3d3;
$selectedColor: #d3d3d3;

.resize-trigger {
  background-color: #469cfd00;

  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.3);
  z-index: 1990;

  position: absolute;

  &.--left,
  &.--right {
    top: 0;
    width: 6px;
    height: 100%;
    cursor: col-resize;
  }

  &.--left {
    left: 0;
    margin-right: -3px;
  }

  &.--right {
    right: 0;
    margin-left: -3px;
  }

  &.--top,
  &.--bottom {
    left: 0;
    height: 6px;
    width: 100%;
    cursor: row-resize;
  }

  &.--top {
    top: 0;
    margin-bottom: -3px;
  }

  &.--bottom {
    bottom: 0;
    margin-top: -3px;
  }

  &.active,
  &:hover {
    background-color: $borderColor;
  }
}
