/* 请注意样式排序导致的优先级问题
-----------------------------*/
@import '~@tap/assets/styles/var';
@import '~@tap/assets/styles/reboot';
@import '~@tap/assets/styles/utilities';
@import '~@tap/assets//fonts/DIN/index.css';

@import '~@/styles/font/iconfont.css';

@import 'github-markdown-css';

@import 'overrides';

#app {
  width: 100%;
  // min-width: 1440px;
  height: 100%;
  overflow: hidden;
  font-size: 12px;
  //font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: unset;
}

/*滚动条整体样式*/
#app::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}

/*滚动条滑块*/
#app::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #535353;
}

/*滚动条轨道*/
#app::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background: #ccc;
}

.iconfont {
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  //vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.g-panel-container {
  background-color: map-get($bgColor, white);
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
}

.status-block {
  display: inline-block;
  min-width: 60px;
  padding: 3px 10px;
  text-align: center;
  font-weight: 500;
  border-radius: 4px;
  box-sizing: border-box;
}
.status-running {
  color: #178061;
  background-color: #c4f3cb;
}
.status-complete,
.status-finish,
.status-finished {
  color: #008b58;
  background-color: #b4edd8;
}
.status-error,
.status-rejected,
.status-stopped {
  color: #d44d4d;
  background-color: #ffecec;
}
.status-paused {
  color: #2c65ff;
  background-color: #ddebff;
}
.status-edit {
  color: #0083c7;
  background-color: #d1eefd;
}
.status-pending,
.status-notActivated {
  color: #2c65ff;
  background-color: #ddebff;
}
.status-active,
.status-activated {
  color: #178061;
  background-color: #c4f3cb;
}
.status-edit {
  color: #0083c7;
  background-color: #d1eefd;
}
.status-scheduled,
.status-scheduling,
.status-wait_run,
.status-pause {
  color: #2c65ff;
  background-color: #ddebff;
}

.status-waiting {
  color: #c39700;
  background-color: #fdf1c8;
}
.status-pausing {
  color: #6350d2;
  background-color: #dcd6ff;
}
.status-stop {
  color: #c88500;
  background-color: #ffe4ae;
}
.status-stopping,
.status-notVerified {
  color: #c39700;
  background-color: #fdf1c8;
}
.status-ready {
  color: #c39700;
  background-color: #fdf1c8;
}
.status-connection-ready {
  color: #2b8a6a;
  background-color: #ccf4d2;
}
.status-connection-testing {
  color: #d78120;
  background-color: #feecd6;
}
.status-connection-invalid {
  color: #d5575a;
  background-color: #feeeef;
}

// 无分类列表/详情页面/表单页面
.section-wrap {
  display: flex;
  flex-direction: column !important;
  height: 100%;
  padding: 0 20px 20px 20px;
  background-color: #eff1f4;
  box-sizing: border-box;
  overflow: hidden;
  .section-wrap-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    border-radius: 4px;
    background-color: map-get($bgColor, white);
    box-sizing: border-box;
    overflow: hidden;
  }
  .table-page-main-box {
    padding: 20px;
    border-radius: 4px;
  }
}
// 有分类列表
.classify-wrap {
  display: flex;
  flex: 1;
  padding: 0 20px 20px 20px;
  background-color: #eff1f4;
  overflow: hidden;
  .table-page-container {
    .table-page-main {
      .table-page-body {
        padding: 20px;
      }
    }
  }
}
.message-button-cancel {
  color: map-get($fontColor, normal);
  border-color: #f2f3f5;
  background-color: #f2f3f5;
}
.message-button-cancel:hover {
  background-color: map-get($bgColor, white);
  border: 1px solid #2c65ff;
}

.markdown-body-wrap .markdown-body {
  h2 {
    font-size: 18px;
    margin: 1em 0 15px;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }
  h3 {
    font-size: 14px;
    margin: 22px 0 16px;
  }
  h4 {
    font-size: 13px;
    margin: 20px 0 16px;
  }
  h5 {
    font-size: 12px;
    margin: 16px 0 16px;
    font-weight: 700;
  }
  p {
    font-size: 12px;
    line-height: 24px;
    color: map-get($fontColor, light);
    margin-top: 0px;
    margin: 8px 0;
    margin: 14px 0 14px;
  }
  pre {
    background-color: map-get($bgColor, hover);
    margin-bottom: 8px;
    margin-top: 8px;
    margin: 12px 0 12px;
  }
  blockquote {
    margin-bottom: 8px;
    margin-top: 8px;
    margin: 14px 0 14px;
    background-color: map-get($bgColor, hover);
    padding: 16px 16px;
  }
  tr {
    background-color: map-get($bgColor, main);
  }
  code {
    background-color: map-get($bgColor, hover);
  }
  ul,
  ol,
  li {
    list-style: unset;
    font-size: 12px;
    line-height: 20px;
    color: map-get($fontColor, main);
    margin-top: 0px;
    margin: 8px 0;
  }
  blockquote {
    border-color: map-get($color, primary);
  }
  table {
    display: table;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}
