@import '@tap/assets/styles/reboot';
@import '@tap/assets/styles/utilities';
@import '@tap/assets/fonts/DIN/index.css';

@import 'github-markdown-css';


#app {
  width: 100%;
  // min-width: 1440px;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  //font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: unset;
}

/*滚动条整体样式*/
#app::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}

/*滚动条滑块*/
#app::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #535353;
}

/*滚动条轨道*/
#app::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background: #ccc;
}

.iconfont {
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  //vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.status-block {
  display: inline-block;
  min-width: 60px;
  padding: 3px 10px;
  text-align: center;
  font-weight: 500;
  border-radius: 4px;
  box-sizing: border-box;
}
.status-running {
  color: #178061;
  background-color: #c4f3cb;
}
.status-complete,
.status-finish,
.status-finished {
  color: #008b58;
  background-color: #b4edd8;
}
.status-renew_failed,
.status-error,
.status-rejected,
.status-stopped {
  color: #d44d4d;
  background-color: #ffecec;
}
.status-paused {
  color: #2c65ff;
  background-color: #ddebff;
}
.status-edit {
  color: #0083c7;
  background-color: #d1eefd;
}
.status-pending,
.status-notActivated {
  color: #2c65ff;
  background-color: #ddebff;
}
.status-active,
.status-activated {
  color: #178061;
  background-color: #c4f3cb;
}
.status-edit {
  color: #0083c7;
  background-color: #d1eefd;
}
.status-scheduled,
.status-scheduling,
.status-wait_run,
.status-pause {
  color: #2c65ff;
  background-color: #ddebff;
}

.status-renewing,
.status-waiting {
  color: #c39700;
  background-color: #fdf1c8;
}
.status-pausing {
  color: #6350d2;
  background-color: #dcd6ff;
}
.status-stop {
  color: #c88500;
  background-color: #ffe4ae;
}
.status-stopping,
.status-notVerified,
.status-generating {
  color: #c39700;
  background-color: #fdf1c8;
}
.status-ready {
  color: #c39700;
  background-color: #fdf1c8;
}
.status-connection-ready {
  color: #2b8a6a;
  background-color: #ccf4d2;
}
.status-connection-testing {
  color: #d78120;
  background-color: #feecd6;
}
.status-connection-invalid {
  color: #d5575a;
  background-color: #feeeef;
}
.level-finished {
  color: #008b58;
}
.level-edit {
  color: #0083c7;
}
.level-waiting {
  color: #c39700;
}
.level-stop {
  color: #c88500;
}
.level-error {
  color: #d44d4d;
}

.message-button-cancel {
  color: var(--text-normal);
  border-color: #f2f3f5;
  background-color: #f2f3f5;
}
.message-button-cancel:hover {
  background-color: var(--color-white);
  border: 1px solid #2c65ff;
}

@keyframes dialog-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes dialog-zoom-out {
  0% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.2);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes empty-keyframes {}

.dialog-zoom-transition {
  &.dialog-fade-enter-active {
    animation: fade-in 0.3s;
    .el-dialog {
      animation: dialog-zoom-in 0.3s cubic-bezier(0.32, 0.14, 0.15, 0.86);
    }
  }

  &.dialog-fade-leave-active {
    animation: empty-keyframes 0.2s both; // 只是为了让vue transition 的 duration 生效
    .el-dialog {
      animation: dialog-zoom-out 0.2s cubic-bezier(0.78, 0.14, 0.15, 0.86) both;
    }
  }
}

.tag-locked {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 24px;
  background: linear-gradient(135deg, #4D505C 0%, #222222 100%);
  border: 0;
  color: #EECCAA;
  border-radius: 8px;
  font-size: 16px;
}

.el-menu-item.is-locked {
  opacity: 1;
  cursor: help;
}

.error-stack-pre-wrap {
  background: #fff2f0;
  border: 1px solid #ffccc7;

  .error-stack-actions {
    display: none;
  }

  &:hover {
    .error-stack-actions {
      display: block;
    }
  }
}