/*
* element-ui
*/
.el-icon-success {
  color: map-get($color, success);
}
.el-icon-error {
  color: map-get($color, danger);
}
.icon-daiqidong {
  color: map-get($color, primary);
}
.icon-yunhangzhong {
  color: map-get($color, success);
}
.icon-yichang {
  color: map-get($color, warning);
}
.color-primary {
  color: map-get($color, primary);
}
.el-select-dropdown__item.selected {
  color: map-get($color, primary);
  font-weight: normal;
}
.el-select-dropdown .el-select-group__wrap {
  padding-top: 10px;
  padding-bottom: 0;
  &::after {
    display: none;
  }
  .el-select-group__title {
    font-size: 14px;
    font-weight: bold;
    color: map-get($fontColor, normal);
  }
  .el-select-group {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .el-select-dropdown__item {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 130px;
    text-align: center;
    border: 1px solid #d9d9d9;
    //border-radius: 2px;
    height: 32px;
    line-height: 30px;
    font-size: 12px;
    color: map-get($fontColor, light);
    background: #fff;
    &.selected {
      border-color: map-get($color, primary);
      color: map-get($color, primary);
      background: rgb(225, 236, 255);
    }
    &:hover {
      border-color: map-get($color, primary);
      color: map-get($color, primary);
    }
  }
}
.el-select .el-input.is-focus .el-input__inner,
.el-select .el-input__inner:focus,
.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  border-color: map-get($color, primary);
}

.el-select .el-select__tags {
  .el-tag.el-tag--info {
    color: #1d2129;
    font-weight: 400;
    border: 0;
    border-radius: 2px;
    background-color: #f2f3f5;
  }
  .el-tag__close.el-icon-close {
    background-color: #f2f3f5;
    &:hover {
      color: #000;
    }
  }
}
.el-input__inner {
  color: #000;
  border-radius: $borderRadius;
  // border: 1px solid rgba(221, 221, 221, 0.4);
  // background-color:  rgba(239, 241, 244, 0.2);
}
.el-input__inner:hover,
.el-textarea__inner:focus {
  border-color: map-get($color, primary);
}
.el-textarea__inner {
  font-family: Arial;
  color: map-get($fontColor, main);
  // border: 1px solid rgba(221, 221, 221, 0.4);
  // background-color:  rgba(239, 241, 244, 0.2);
}
.el-input,
.el-textarea {
  .el-input__count {
    background-color: rgba(239, 241, 244, 0.2);
    .el-input__count-inner {
      color: rgba(0, 0, 0, 0.65);
      background-color: rgba(239, 241, 244, 0.2);
    }
  }
}
.el-input-number.is-controls-right .el-input__inner {
  padding-left: 10px;
  padding-right: 45px;
}
.el-input-number__decrease:hover,
.el-input-number__increase:hover {
  color: map-get($color, primary);
}
.el-input-number__increase:hover:not(.is-disabled) ~ .el-input .el-input__inner:not(.is-disabled) {
  border-color: map-get($color, primary);
}
.el-input-group__prepend {
  color: map-get($color, primary);
}
.el-input-group__append {
  button.el-button {
    border-color: map-get($color, primary);
    background-color: map-get($color, primary);
  }
}
.el-radio .el-radio__label {
  font-size: 12px;
  color: map-get($fontColor, main);
}
.el-radio__input.is-checked + .el-radio__label {
  color: map-get($fontColor, main);
}
.el-radio__inner {
  width: 16px;
  height: 16px;
}
.el-radio__inner:hover {
  border-color: map-get($color, primary);
}
.el-radio__inner::after {
  width: 8px;
  height: 8px;
  background-color: map-get($color, primary);
}
.el-radio__input.is-checked .el-radio__inner {
  // border-color: map-get($color, primary);
  background-color: #fff;
}
.el-radio-button__inner {
  font-weight: normal;
  color: map-get($fontColor, light);
  background: #fff;
}
.el-radio-button--mini .el-radio-button__inner {
  padding: 5px 16px;
}
.el-radio-button__inner:hover {
  color: map-get($color, primary);
}
.el-radio-button:first-child:last-child .el-radio-button__inner {
  border-radius: $borderRadiusBtn;
}
.el-radio-button:first-child .el-radio-button__inner {
  border-radius: $borderRadiusBtn 0 0 $borderRadiusBtn;
}
.el-radio-button:last-child .el-radio-button__inner {
  border-radius: 0 $borderRadiusBtn $borderRadiusBtn 0;
}
.el-radio-button__orig-radio:checked + .el-radio-button__inner {
  color: map-get($color, primary);
  background-color: #fff;
  border-color: map-get($color, primary);
  box-shadow: -1px 0 0 0 map-get($color, primary);
}
.el-switch.is-checked .el-switch__core {
  border-color: map-get($color, primary);
  background-color: map-get($color, primary);
}
.el-divider__text,
.el-link {
  font-size: 12px;
}
.el-link.is-underline:hover:after {
  display: none;
}
.el-link.el-link--default {
  color: map-get($fontColor, normal);
}
.el-link.el-link--default:hover {
  color: map-get($color, primary);
  &::after {
    display: none;
  }
}
.el-link.el-link--primary {
  color: map-get($color, primary);
  font-weight: normal;
  font-size: 12px;
}
.el-link.el-link--primary:hover {
  color: map-get($color, lprimary);
}
.el-link.is-disabled {
  cursor: default;
}
.el-link.el-link--primary.is-disabled {
  color: map-get($color, disable);
  cursor: no-drop;
}
.el-tooltip__popper {
  padding: 5px 10px;
  max-width: 400px;
}
.el-tooltip__popper.is-dark {
  line-height: 20px;
  background: rgba(0, 0, 0, 0.7);
}
.el-button {
  min-width: 80px;
  font-weight: normal;
  color: #4e5969;
  border-color: #f2f3f5;
  background-color: #f2f3f5;
}
.el-button.is-plain:focus {
  border-color: map-get($borderColor, normal);
  color: map-get($fontColor, normal);
}
.el-button.is-plain:focus:hover {
  color: map-get($color, primary);
  border-color: map-get($color, primary);
}
.el-button--primary {
  color: #fff;
  background-color: map-get($color, primary);
  border: none;
}
.el-button--text {
  min-width: auto;
  color: map-get($color, primary);
  border: none;
  background-color: inherit;
}
.el-button.el-button--text:hover,
.el-button.el-button--text:focus,
.el-button.el-button--text:active {
  color: map-get($color, lprimary);
  background-color: initial;
}
.el-button--text:focus {
  background-color: initial !important;
}
.el-button--text.is-disabled {
  color: map-get($color, disable);
}
.el-button--text.is-disabled:hover {
  color: map-get($color, disable);
}
.el-button:focus,
.el-button:hover {
  background-color: map-get($color, primary);
  //color: #fff;
  border-color: map-get($color, primary);
}
.el-button--primary:hover {
  background-color: map-get($color, lprimary);
  border-color: map-get($color, lprimary);
  color: #fff;
}
.el-button--primary:focus.el-button--primary:hover {
  background-color: map-get($color, lprimary);
  border-color: map-get($color, lprimary);
  color: #fff;
}
.el-button--primary:focus,
.el-button--primary.is-active,
.el-button--primary:active {
  background-color: map-get($color, primary);
  border-color: map-get($color, primary);
  color: #fff;
}
.el-button--primary.is-disabled,
.el-button--primary.is-disabled:active,
.el-button--primary.is-disabled:focus,
.el-button--primary.is-disabled:hover {
  color: map-get($color, disable);
  border-color: map-get($borderColor, disable);
  background-color: map-get($bgColor, disable);
}
.el-checkbox {
  font-weight: normal;
  color: map-get($fontColor, light);
}
.el-checkbox__label {
  font-size: 12px;
}
.el-checkbox__inner:hover {
  border-color: map-get($color, primary);
}
.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: map-get($color, primary);
}
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  border-color: map-get($color, primary);
  background-color: map-get($color, primary);
}
.el-checkbox__input.is-checked + .el-checkbox__label {
  color: unset;
}
.el-menu {
  border-right: none;
}
.el-dropdown {
  font-size: 12px;
}
.el-dropdown-link {
  cursor: pointer;
  font-size: 12px;
  color: map-get($color, primary);
}
.el-dropdown-menu__item {
  color: map-get($fontColor, normal);
}
.el-dropdown-menu--small {
  white-space: nowrap;
}
.el-dropdown-menu--small .el-dropdown-menu__item {
  line-height: 32px;
}
.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
  color: map-get($fontColor, normal);
}
.el-menu-item,
.el-submenu__title {
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  border-left: 3px solid #fff;
}
.el-menu-item.is-active {
  color: map-get($color, primary);
  border-color: map-get($color, primary);
}
.el-table {
  color: map-get($fontColor, normal);
}
.el-table::before {
  display: none;
}
.el-table::after {
  background-color: #fff;
}
.el-table.table-border::before {
  display: block;
}
.el-table thead {
  color: map-get($fontColor, normal);
}
.el-table__fixed-right-patch {
  background: #f4f5f7;
}
.el-table th {
  background: #f4f5f7;
  border-bottom: 0;
}
.el-table td,
.el-table th.is-leaf {
  border-bottom: none;
}
.el-table.table-border th {
  padding: 0;
  height: 40px;
}
.el-table.table-border td {
  border-bottom: 1px solid #eceef1;
}
.el-table--small td {
  padding: 5px 0;
}
.el-table .cell {
  line-height: 20px;
  white-space: nowrap;
}
.el-table th.el-table__cell.is-leaf {
  border-bottom: 0;
}
.el-table .el-table__header th {
  background-color: #fafafa;
}
.el-table__body tr.hover-row > td {
  background-color: map-get($bgColor, hover);
}
.table-border.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: inherit;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: map-get($color, primary);
}
.el-breadcrumb__inner a,
.el-breadcrumb__inner.is-link {
  font-weight: 400;
  color: map-get($fontColor, secondary);
}
.el-breadcrumb__inner a:hover,
.el-breadcrumb__inner.is-link:hover {
  color: map-get($color, primary);
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover,
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  color: map-get($fontColor, light);
}
.el-tag--small {
  border-radius: $borderRadius;
  height: 20px;
  line-height: 18px;
}
.el-tag.el-tag--success {
  color: map-get($color, success);
  border-color: map-get($color, success);
  background-color: map-get($color, lsuccess);
}
.el-tag.el-tag--info {
  color: map-get($color, info);
  border-color: map-get($color, info);
  background-color: map-get($color, linfo);
}
.el-message-box {
  position: relative;
}
.el-message-box__header {
  padding: 30px 30px 0px 30px;
}
.el-message-box__title {
  padding-left: 35px;
  line-height: 24px;
  font-size: 14px;
  font-weight: bold;
  color: map-get($fontColor, normal);
}
.el-message-box__btns {
  .el-button {
    box-sizing: border-box;
  }
}
.el-message-box__headerbtn {
  display: none;
}
.el-message-box__container {
  position: static;
}
.el-message-box__status {
  top: 30px;
  left: 30px;
  transform: translateY(0);
}
.el-message-box__content {
  padding: 5px 15px 15px 15px;
  font-size: 12px;
  color: map-get($fontColor, light);
}
.el-message-box__status + .el-message-box__message {
  padding-left: 50px;
}
.el-message-box--alert {
  width: 315px;
  .el-message-box__content {
    padding: 0 15px 15px 15px;
    font-size: 14px;
  }
}

.el-upload-list__item-name {
  padding: 2px 10px;
  color: #1d2129;
  background-color: #f7f8fa;
}
.el-upload-list__item .el-icon-close {
  display: block;
  top: 12px;
}
.table-page-main {
  background: #fff;
}
//  滚动条
.el-loading-spinner {
  color: map-get($color, primary);
  .el-loading-text,
  .circular {
    color: map-get($color, primary);
    .path {
      stroke: map-get($color, primary);
    }
  }
}
.el-button.is-loading:before {
  top: 0;
  bottom: 0;
}
//覆盖表单创建任务
.CT-task-wrap {
  .CT-task-container {
    .step-header {
      .step-box {
        li {
          &.active {
            color: map-get($color, primary);
            &::before {
              background: map-get($color, primary);
            }
            .step-index {
              border-color: #fff;
              background: map-get($color, primary);
              color: #fff;
            }
          }
        }
      }
    }
  }
}
.fb-radio .el-radio.is-bordered.is-checked {
  border: 1px solid map-get($color, primary);
}
.data-flow-wrap .panel-main .main.main-border .title {
  color: map-get($color, primary);
}
.monitorTab {
  display: none !important;
}

// 步骤条
.el-steps {
  &.primary {
    .el-step__head {
      border-color: rgba(0, 0, 0, 0.25);
      color: rgba(0, 0, 0, 0.25);
      &.is-process {
        border-color: rgba(44, 101, 255, 1);
        color: rgba(44, 101, 255, 1);
      }
      &.is-success {
        border-color: rgba(44, 101, 255, 1);
        color: rgba(44, 101, 255, 1);
        .el-step__line {
          background-color: rgba(44, 101, 255, 0.05);
        }
      }
      .el-step__line {
        height: 5px;
        top: 9px;
        left: 57%;
        right: -43%;
        background-color: rgba(1, 1, 1, 0.05);
        .el-step__line-inner {
          display: none;
        }
      }
      .el-step__icon {
        background-color: #e9e9e9;
        border: 1px solid #e9e9e9;
        .el-step__icon-inner {
          font-weight: normal;
          color: #fff;
        }
      }
      &.is-process {
        .el-step__icon {
          background-color: map-get($color, primary);
          border: 1px solid map-get($color, primary);
        }
      }
    }
    .el-step__title {
      font-size: 14px;
      font-weight: 500;
      color: #e9e9e9;
      &.is-process {
        color: map-get($fontColor, normal);
      }
    }
  }
  &.mini {
    .el-step__icon {
      &.is-icon {
        width: 12px;
      }
    }
    .el-step__icon-inner {
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
    .el-step__icon-inner {
      background-color: map-get($color, disable);
    }
    .is-finish {
      .el-step__icon-inner {
        background-color: map-get($color, primary);
      }
    }
    .el-step__title {
      font-size: 14px;
      &.is-wait {
        color: map-get($fontColor, disable);
      }
      &.is-process {
        color: map-get($fontColor, disable);
      }
      &.is-finish {
        color: map-get($fontColor, main);
      }
    }
    .el-step__description {
      color: map-get($fontColor, disable);
    }
  }
}

// 穿梭框
.el-transfer {
  display: flex;
  .el-transfer-panel {
    display: inline-flex;
    flex-direction: column;
    flex: 1;
    .el-transfer-panel__header {
      background: rgba(44, 101, 255, 0.05);
      height: 54px;
      line-height: 54px;
      .el-checkbox {
        line-height: 54px;
      }
      .el-checkbox__label {
        margin-left: 8px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.85);
      }
    }
  }
  .el-transfer-panel__body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 16px;
    background: #fafafa;
  }
  .el-transfer-panel__list {
    flex: 1;
  }
  .el-transfer-panel__filter {
    margin: 0 16px 16px;
    .el-input__inner {
      padding-left: 36px;
      //border-radius: 2px;
    }
  }
  .el-transfer__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .el-button {
      padding: 0;
      width: 36px;
      height: 27px;
      &:last-child {
        margin-left: 0;
      }
    }
  }
}
// 按钮
.el-button,
.v-button {
  // 文字字体
  .el-button--text {
    border: 0;
    color: map-get($color, primary);
    border-radius: unset;
    &:focus,
    &:hover {
      //color: map-get($color, primary);
      background-color: unset;
    }
    &.is-disabled,
    &.is-disabled:hover {
      border: 0;
      //color: map-get($color, disable);
      background-color: unset;
    }
  }
}

.el-button + .el-button {
  margin-left: 16px;
}

.el-button--default {
  &:focus,
  &:hover {
    background-color: #fff;
    color: map-get($color, primary);
    border-color: map-get($color, primary);
  }
}
// .el-button.el-button--text {
//   border: 0;
//   color: map-get($color, primary);
//   border-radius: unset;
//   &:focus,
//   &:hover {
//     color: map-get($color, primary);
//     background-color: unset;
//   }
//   &.is-disabled,
//   &.is-disabled:hover {
//     border: 0;
//     color: map-get($color, disable);
//     background-color: unset;
//   }
// }

// 页签
.el-tabs__nav-wrap::after {
  height: 1px;
}
.el-tabs__item.is-active {
  color: map-get($color, primary);
}
.el-tabs__item:hover {
  color: map-get($color, primary);
}
.el-tabs__active-bar {
  background-color: map-get($color, primary);
}
.el-tabs__item {
  color: map-get($fontColor, sub);
  font-weight: 400;
  user-select: none;
}
.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
  color: map-get($color, primary);
}

.el-button.is-plain:focus {
  border-color: map-get($borderColor, normal);
  color: map-get($fontColor, normal);
}
.el-button.is-plain:focus:hover {
  color: map-get($color, primary);
  border-color: map-get($color, primary);
}
.el-button--primary {
  background-color: map-get($color, primary);
  border: none;
}

/* --------------------- */
.el-form-item.el-form-item--small,
.el-form-item.el-form-item--mini {
  margin-bottom: 20px;
  .el-form-item__label {
    color: map-get($fontColor, slight);
    font-size: 12px;
    font-weight: 500;
    text-align: left;
  }
}
.el-dialog {
  border-radius: 4px;
  .el-dialog__title {
    font-size: 14px;
    font-weight: 500;
    color: #000;
  }
  .el-dialog__header {
    .el-dialog__headerbtn:hover .el-dialog__close {
      color: map-get($color, primary);
    }
  }
  .el-dialog__body {
    padding: 0 20px 20px;
  }
  .el-dialog__footer {
    padding: 0 20px 20px;
  }
}
