/*
* element-ui
*/
.el-icon-success {
  color: map-get($color, success);
}
.el-icon-error {
  color: map-get($color, danger);
}
.icon-daiqidong {
  color: map-get($color, primary);
}
.icon-yunhangzhong {
  color: map-get($color, success);
}
.icon-yichang {
  color: map-get($color, warning);
}
.color-primary {
  color: map-get($color, primary);
}
.el-select-dropdown__item.selected {
  color: map-get($color, primary);
  font-weight: normal;
}
.el-select-dropdown .el-select-group__wrap {
  padding-top: 10px;
  padding-bottom: 0;
  &::after {
    display: none;
  }
  .el-select-group__title {
    font-size: 14px;
    font-weight: bold;
    color: map-get($fontColor, dark);
  }
  .el-select-group {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .el-select-dropdown__item {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 130px;
    text-align: center;
    border: 1px solid #d9d9d9;
    //border-radius: 2px;
    height: 32px;
    line-height: 30px;
    font-size: 12px;
    // color: map-get($fontColor, normal);
    background-color: map-get($bgColor, white);
    &.selected {
      border-color: map-get($color, primary);
      color: map-get($color, primary);
      background: rgb(225, 236, 255);
    }
    &:hover {
      border-color: map-get($color, primary);
      color: map-get($color, primary);
    }
  }
}
.el-select-dropdown__item {
  color: map-get($fontColor, normal);
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
  color: map-get($color, primary);
}
.el-select-dropdown.el-popper {
  .popper__arrow,
  .popper__arrow::after {
    display: none;
  }
}
// .el-select .el-input.is-focus .el-input__inner,
// .el-select .el-input__inner:focus,
// .el-input.is-active .el-input__inner,
// .el-input__inner:focus {
//   border-color: map-get($color, primary);
// }

.el-select .el-select__tags {
  .el-tag.el-tag--info {
    color: map-get($fontColor, dark);
    font-weight: 400;
    border: 0;
    border-radius: 2px;
    background-color: map-get($bgColor, main);
  }
  .el-tag__close.el-icon-close {
    background-color: map-get($bgColor, main);
    &:hover {
      color: map-get($fontColor, dark);
    }
  }
}
.el-textarea__inner,
.el-input__inner {
  &::placeholder {
    font-weight: 400;
    // color: map-get($fontColor, slight);
  }
}
.el-input__inner {
  color: map-get($fontColor, normal);
  border-radius: $borderRadius;
  // border: 1px solid rgba(221, 221, 221, 0.4);
  // background-color:  rgba(239, 241, 244, 0.2);
}
.el-input__inner:hover,
.el-textarea__inner:focus {
  border-color: map-get($color, primary);
}
.el-textarea__inner {
  color: map-get($fontColor, normal);
  // border: 1px solid rgba(221, 221, 221, 0.4);
  // background-color:  rgba(239, 241, 244, 0.2);
}
.el-input,
.el-textarea {
  .el-input__count {
    background-color: rgba(239, 241, 244, 0.2) !important;
    .el-input__count-inner {
      color: rgba(0, 0, 0, 0.65);
      background-color: rgba(239, 241, 244, 0.2);
    }
  }
}
.el-input-number.is-controls-right .el-input__inner {
  padding-left: 10px;
  padding-right: 45px;
}
.el-input-number__decrease:hover,
.el-input-number__increase:hover {
  color: map-get($color, primary);
}
// .el-input-number__increase:hover:not(.is-disabled) ~ .el-input .el-input__inner:not(.is-disabled) {
//   border-color: map-get($color, primary);
// }
.el-input-group__prepend {
  color: map-get($color, primary);
}
.el-radio .el-radio__label {
  font-size: 12px;
  // color: map-get($fontColor, dark);
}
.el-radio__input.is-checked + .el-radio__label {
  color: map-get($fontColor, dark);
}
.el-radio__inner {
  width: 16px;
  height: 16px;
}
.el-radio__inner:hover {
  border-color: map-get($color, primary);
}
.el-radio__inner::after {
  width: 8px !important;
  height: 8px !important;
  background-color: map-get($color, primary);
}

.el-radio-button__inner {
  font-weight: 400 !important;
  // color: map-get($fontColor, normal);
  background: map-get($bgColor, white) !important;
}
.el-radio-button--mini .el-radio-button__inner {
  padding: 5px 16px;
}
// .el-radio-button__inner:hover {
//   color: map-get($color, primary);
// }
.el-radio-button:first-child:last-child .el-radio-button__inner {
  border-radius: $borderRadiusBtn;
}
.el-radio-button:first-child .el-radio-button__inner {
  border-radius: $borderRadiusBtn 0 0 $borderRadiusBtn;
}
.el-radio-button:last-child .el-radio-button__inner {
  border-radius: 0 $borderRadiusBtn $borderRadiusBtn 0;
}
.el-radio-button__orig-radio:checked + .el-radio-button__inner {
  font-weight: 500 !important;
  // color: map-get($color, primary);
  background-color: map-get($bgColor, white);
  // border-color: map-get($color, primary);
  // box-shadow: -1px 0 0 0 map-get($color, primary);
}
.el-divider__text,
.el-link {
  font-size: 12px;
}
.el-link.is-underline:hover:after {
  display: none;
}
.el-link.el-link--default {
  color: map-get($fontColor, dark);
}
.el-link.el-link--default:hover {
  color: map-get($color, primary);
  &::after {
    display: none;
  }
}
.el-link.el-link--primary {
  // color: map-get($color, primary);
  font-weight: normal;
  font-size: 12px;
}
// .el-link.el-link--primary:hover {
//   color: map-get($color, lprimary);
// }
.el-link.is-disabled {
  cursor: default;
}
.el-link.el-link--primary.is-disabled {
  color: map-get($color, disable) !important;
  cursor: no-drop;
}
.el-tooltip__popper {
  padding: 5px 10px;
  max-width: 400px;
  max-height: 400px;
  overflow-y: auto;
}
.el-tooltip__popper.is-dark {
  line-height: 20px;
  background: rgba(0, 0, 0, 0.7);
}
.el-button {
  min-width: 80px;
  font-weight: normal;
  // color: map-get($fontColor, normal);
  // border-color: map-get($bgColor, main);
  // background-color:  map-get($bgColor, main);
}
// .el-button.is-plain:focus {
//   border-color: map-get($borderColor, normal);
//   color: map-get($fontColor, dark);
// }
// .el-button.is-plain:focus:hover {
//   color: map-get($color, primary);
//   border-color: map-get($color, primary);
// }
// .el-button--primary {
// color: map-get($fontColor, white);
// background-color: map-get($color, primary);
// border-color: map-get($color, primary);
// }
.el-button--text {
  font-weight: 400 !important;
  min-width: auto;
  // color: map-get($color, primary);
  border: none;
  background-color: inherit;
}
.el-button.el-button--text:hover,
.el-button.el-button--text:focus,
.el-button.el-button--text:active {
  // color: map-get($color, lprimary);
  background-color: initial;
}
.el-button--text:focus {
  background-color: initial !important;
}
.el-button--text.is-disabled {
  color: map-get($color, disable);
}
.el-button--text.is-disabled:hover {
  color: map-get($color, disable);
}
.el-checkbox__label {
  font-size: 12px;
}
.el-checkbox__input.is-checked + .el-checkbox__label {
  color: unset;
}
.el-menu {
  border-right: none;
}
.el-dropdown {
  font-size: 12px;
}
.el-dropdown-link {
  cursor: pointer;
  font-size: 12px;
  // color: map-get($color, primary);
}
.el-dropdown-menu__item {
  color: map-get($fontColor, dark);
}
.el-dropdown-menu--small {
  white-space: nowrap;
}
.el-dropdown-menu--small .el-dropdown-menu__item {
  line-height: 32px;
}
.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
  color: map-get($fontColor, dark);
}
.el-menu-item,
.el-submenu__title {
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  border-left: 3px solid map-get($bgColor, white);
}
.el-table::before {
  display: none;
}
.el-table::after {
  background-color: map-get($bgColor, white);
}
.el-table.table-border::before {
  display: block;
}
// .el-table thead {
//   color: map-get($fontColor, normal);

// }
.el-table .el-table__fixed-right-patch {
  background-color: map-get($bgColor, normal);
}
.el-table th {
  // background: #f4f5f7;
  border-bottom: 0;
  font-weight: 500;
  .cell {
    white-space: nowrap;
  }
}
.el-table td,
.el-table th.is-leaf {
  border-bottom: none;
}
.el-table.table-border th {
  padding: 0;
  height: 40px;
}
.el-table.table-border td {
  border-bottom: 1px solid #eceef1;
}
.el-table--small td {
  padding: 5px 0;
}
.el-table .cell {
  line-height: 20px;
  white-space: nowrap;
}
.el-table th.el-table__cell.is-leaf {
  border-bottom: 0 !important;
}
.el-table .el-table__header-wrapper .el-table__header {
  border-color: inherit !important;
}
.el-table__body tr.hover-row > td {
  background-color: map-get($bgColor, hover);
}
.table-border.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: inherit;
}
.el-table--border::after {
  width: 0 !important;
}
.el-table__empty-block {
  height: 70% !important;
}
.el-table__empty-block .el-table__empty-text .empty {
  line-height: 30px;
}
.el-pagination {
  text-align: right;
}
// .el-pagination.is-background .el-pager li:not(.disabled).active {
//   background-color: map-get($color, primary);
// }
// .el-pagination.is-background .el-pager li:not(.disabled).active:hover {
//   color: map-get($fontColor, white);
// }
// .el-pagination.is-background .el-pager li:not(.disabled):hover {
//   color: map-get($color, primary);
// }
.el-breadcrumb__inner a,
.el-breadcrumb__inner.is-link {
  font-size: 12px;
  font-weight: normal !important;
  color: map-get($fontColor, light) !important;
}
.el-breadcrumb__inner a:hover,
.el-breadcrumb__inner.is-link:hover {
  color: map-get($color, primary) !important;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover,
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  font-weight: 500 !important;
  color: map-get($fontColor, normal) !important;
}
.el-tag--small {
  border-radius: $borderRadius;
  height: 20px;
  line-height: 18px;
}
// .el-tag.el-tag--success {
//   color: map-get($color, success);
//   border-color: map-get($color, success);
//   background-color: map-get($color, lsuccess);
// }
// .el-tag.el-tag--info {
//   color: map-get($color, info);
//   border-color: map-get($color, info);
//   background-color: map-get($color, linfo);
// }
.el-message__content {
  color: map-get($fontColor, dark) !important;
}
.el-message-box {
  position: relative;
}
.el-message-box__header {
  padding: 30px 30px 0px 30px;
}
.el-message-box__title {
  padding-left: 35px;
  line-height: 24px;
  font-size: 14px;
  font-weight: bold;
  color: map-get($fontColor, dark);
}
.el-message-box__btns {
  .el-button {
    box-sizing: border-box;
  }
}
.el-message-box__container {
  position: static;
}
.el-message-box__status {
  top: 30px;
  left: 30px;
  transform: translateY(0);
}
.el-message-box__content {
  padding: 5px 15px 15px 15px;
  font-size: 12px;
  color: map-get($fontColor, normal) !important;
}
.el-message-box__message {
  overflow: hidden;
  word-break: break-all;
}
.el-message-box__status + .el-message-box__message {
  padding-left: 50px;
}
.el-message-box--alert {
  width: 315px;
  .el-message-box__content {
    padding: 0 15px 15px 15px;
    font-size: 14px;
  }
}

.el-upload-list__item-name {
  padding: 2px 10px;
  color: map-get($fontColor, dark);
  background-color: map-get($bgColor, disable);
}
.el-upload-list__item .el-icon-close {
  display: block;
  top: 12px;
}
.table-page-main {
  background: map-get($bgColor, white);
}
//  滚动条
.el-loading-spinner {
  color: map-get($color, primary);
  .el-loading-text,
  .circular {
    color: map-get($color, primary);
    .path {
      stroke: map-get($color, primary);
    }
  }
}
.el-button.is-loading:before {
  top: 0;
  bottom: 0;
}
//覆盖表单创建任务
.CT-task-wrap {
  .CT-task-container {
    .step-header {
      .step-box {
        li {
          &.active {
            color: map-get($color, primary);
            &::before {
              background: map-get($color, primary);
            }
            .step-index {
              border-color: map-get($bgColor, white);
              background: map-get($color, primary);
              color: map-get($fontColor, white);
            }
          }
        }
      }
    }
  }
}
.fb-radio .el-radio.is-bordered.is-checked {
  border: 1px solid map-get($color, primary);
}
.data-flow-wrap .panel-main .main.main-border .title {
  color: map-get($color, primary);
}
.monitorTab {
  display: none !important;
}
// 空组件
.el-empty__description {
  font-size: 12px;
  > p {
    font-size: 12px;
  }
}

// 穿梭框
.el-transfer {
  display: flex;
  .el-transfer-panel {
    display: inline-flex;
    flex-direction: column;
    flex: 1;
    .el-transfer-panel__header {
      background: map-get($bgColor, disable);
      height: 54px;
      line-height: 54px;
      .el-checkbox {
        line-height: 54px;
      }
      .el-checkbox__label {
        margin-left: 8px;
        font-size: 14px;
        color: map-get($fontColor, normal);
      }
    }
  }
  .el-transfer-panel__body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 16px;
    background: map-get($bgColor, normal);
  }
  .el-transfer-panel__list {
    flex: 1;
  }
  .el-transfer-panel__filter {
    margin: 0 16px 16px;
    .el-input__inner {
      padding-left: 36px;
      //border-radius: 2px;
    }
  }
  .el-transfer__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .el-button {
      padding: 0;
      width: 28px;
      min-width: 28px;
      height: 28px;
      border: 0;
      color: map-get($fontColor, normal);
      background-color: map-get($bgColor, main);
      &:last-child {
        margin-left: 0;
      }
      &.is-disabled:hover {
        color: map-get($fontColor, normal);
        background-color: map-get($bgColor, main);
      }
      &:hover {
        color: map-get($fontColor, white);
        background-color: map-get($color, primary);
      }
    }
  }
}
// 按钮
.el-button,
.v-button {
  // 文字字体
  .el-button--text {
    border: 0;
    // color: map-get($color, primary);
    border-radius: unset;
    &:focus,
    &:hover {
      //color: map-get($color, primary);
      background-color: unset;
    }
    &.is-disabled,
    &.is-disabled:hover {
      border: 0;
      //color: map-get($color, disable);
      background-color: unset;
    }
  }
}

.el-button + .el-button {
  margin-left: 16px;
}

.el-button--default {
  &:focus,
  &:hover {
    background-color: map-get($bgColor, white);
    color: map-get($color, primary);
    border-color: map-get($color, primary);
  }
}
// .el-button.el-button--text {
//   border: 0;
//   color: map-get($color, primary);
//   border-radius: unset;
//   &:focus,
//   &:hover {
//     color: map-get($color, primary);
//     background-color: unset;
//   }
//   &.is-disabled,
//   &.is-disabled:hover {
//     border: 0;
//     color: map-get($color, disable);
//     background-color: unset;
//   }
// }

// 页签
.el-tabs {
  .el-tabs__nav-wrap::after {
    height: 1px;
  }
  .el-tabs__item {
    color: map-get($fontColor, light);
  }
  .el-tabs__item.is-active {
    color: map-get($color, primary);
    font-weight: 500;
  }
  .el-tabs__item:hover {
    color: map-get($color, primary);
  }
  .el-tabs__active-bar {
    background-color: map-get($color, primary);
  }
  .el-tabs__item {
    // color: map-get($fontColor, light);
    font-weight: 400;
    user-select: none;
  }
}
.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
  color: map-get($color, primary);
}

.el-button.is-plain:focus {
  border-color: map-get($borderColor, normal);
  color: map-get($fontColor, dark);
}
.el-button.is-plain:focus:hover {
  color: map-get($color, primary);
  border-color: map-get($color, primary);
}

/* --------------------- */
.el-form-item.el-form-item--small,
.el-form-item.el-form-item--mini {
  margin-bottom: 20px;
  .el-form-item__label {
    // color: map-get($fontColor, light);
    // font-size: 12px;
    text-align: left;
  }
}
.el-dialog {
  border-radius: 4px;
  .el-dialog__title {
    font-size: 14px;
    font-weight: 500;
    color: map-get($fontColor, dark);
  }
  .el-dialog__header {
    .el-dialog__headerbtn:hover .el-dialog__close {
      color: map-get($color, primary);
    }
  }
  .el-dialog__body {
    padding: 0 20px 20px;
  }
  .el-dialog__footer {
    padding: 0 20px 20px;
  }
}

.el-collapse-item {
  &:last-child > .el-collapse-item__wrap {
    border-bottom: none;
  }
}
