/*
* element-ui
*/
.el-icon-success {
  color: map-get($color, success);
}
.el-icon-error {
  color: map-get($color, danger);
}
.icon-daiqidong {
  color: map-get($color, primary);
}
.icon-yunhangzhong {
  color: map-get($color, success);
}
.icon-yichang {
  color: map-get($color, warning);
}
.color-primary {
  color: map-get($color, primary);
}

.el-upload-list__item-name {
  padding: 2px 10px;
  color: map-get($fontColor, dark);
  background-color: map-get($bgColor, disable);
}
.el-upload-list__item .el-icon-close {
  display: block;
  top: 12px;
}
.table-page-main {
  background: map-get($bgColor, white);
}
//  滚动条
.el-loading-spinner {
  color: map-get($color, primary);
  .el-loading-text,
  .circular {
    color: map-get($color, primary);
    .path {
      stroke: map-get($color, primary);
    }
  }
}
.el-button.is-loading:before {
  top: 0;
  bottom: 0;
}
//覆盖表单创建任务
.CT-task-wrap {
  .CT-task-container {
    .step-header {
      .step-box {
        li {
          &.active {
            color: map-get($color, primary);
            &::before {
              background: map-get($color, primary);
            }
            .step-index {
              border-color: map-get($bgColor, white);
              background: map-get($color, primary);
              color: map-get($fontColor, white);
            }
          }
        }
      }
    }
  }
}

// 空组件
.el-empty__description {
  font-size: 12px;
  > p {
    font-size: 12px;
  }
}

// 穿梭框
.el-transfer {
  display: flex;
  .el-transfer-panel {
    display: inline-flex;
    flex-direction: column;
    flex: 1;
    .el-transfer-panel__header {
      background: map-get($bgColor, disable);
      height: 54px;
      line-height: 54px;
      .el-checkbox {
        line-height: 54px;
      }
      .el-checkbox__label {
        margin-left: 8px;
        font-size: 14px;
        color: map-get($fontColor, normal);
      }
    }
  }
  .el-transfer-panel__body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 16px;
    background: map-get($bgColor, normal);
  }
  .el-transfer-panel__list {
    flex: 1;
  }
  .el-transfer-panel__filter {
    margin: 0 16px 16px;
    .el-input__inner {
      padding-left: 36px;
      //border-radius: 2px;
    }
  }
  .el-transfer__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .el-button {
      padding: 0;
      width: 28px;
      min-width: 28px;
      height: 28px;
      border: 0;
      color: map-get($fontColor, normal);
      background-color: map-get($bgColor, main);
      &:last-child {
        margin-left: 0;
      }
      &.is-disabled:hover {
        color: map-get($fontColor, normal);
        background-color: map-get($bgColor, main);
      }
      &:hover {
        color: map-get($fontColor, white);
        background-color: map-get($color, primary);
      }
    }
  }
}
// 按钮
.el-button,
.v-button {
  // 文字字体
  .el-button--text {
    border: 0;
    border-radius: unset;
    &:focus,
    &:hover {
      background-color: unset;
    }
    &.is-disabled,
    &.is-disabled:hover {
      border: 0;
      background-color: unset;
    }
  }
}

.el-button + .el-button {
  margin-left: 16px;
}

.el-button--default {
  &:focus,
  &:hover {
    background-color: map-get($bgColor, white);
    color: map-get($color, primary);
    border-color: map-get($color, primary);
  }
}

// 页签
.el-tabs {
  .el-tabs__nav-wrap::after {
    height: 1px;
  }
  .el-tabs__item {
    color: map-get($fontColor, light);
  }
  .el-tabs__item.is-active {
    color: map-get($color, primary);
    font-weight: 500;
  }
  .el-tabs__item:hover {
    color: map-get($color, primary);
  }
  .el-tabs__active-bar {
    background-color: map-get($color, primary);
  }
  .el-tabs__item {
    font-weight: 400;
    user-select: none;
  }
}
.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
  color: map-get($color, primary);
}

.el-button.is-plain:focus {
  border-color: map-get($borderColor, normal);
  color: map-get($fontColor, dark);
}
.el-button.is-plain:focus:hover {
  color: map-get($color, primary);
  border-color: map-get($color, primary);
}

.el-form-item.el-form-item--small,
.el-form-item.el-form-item--mini {
  margin-bottom: 20px;
  .el-form-item__label {
    text-align: left;
  }
}
.el-dialog {
  border-radius: 4px;
  .el-dialog__title {
    font-size: 14px;
    font-weight: 500;
    color: map-get($fontColor, dark);
  }
  .el-dialog__header {
    .el-dialog__headerbtn:hover .el-dialog__close {
      color: map-get($color, primary);
    }
  }
  .el-dialog__body {
    padding: 0 20px 20px;
  }
  .el-dialog__footer {
    padding: 0 20px 20px;
  }
}

.el-collapse-item {
  &:last-child > .el-collapse-item__wrap {
    border-bottom: none;
  }
}
