// 变量
// 会在每个style元素以及scss文件中注入，因此不允许写具体选择器样式
$borderRadiusBtn: 4px;
$borderRadius: 4px;
$fontFamily: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans',
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$codeFontFamily: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

$color: (
  // primary: #337dff,
  primary:#2C65FF,
  dprimary: #0e42d2,
  lprimary: #4080ff,
  disprimary: #94bfff,
  success: #10c038,
  lsuccess: #dbefd1,
  danger: #D44D4D,
  warning: #FF7D00,
  info: #75849b,
  linfo: #e9edf2,
  disable: #c9cdd4,

);

$fontColor: (
  normal: #1D2129,
  light: #333C4A,
  slight: #535F72,
  secondary: #86909C,
  main: rgba(0, 0, 0, 1),
  sub: rgba(0, 0, 0, 0.65),
  rdlevel: rgba(0, 0, 0, 0.85),
  disable: #c9cdd4
);

$bgColor: (
  disable: #f5f5f5,
  active: #ecf5ff,
  hover: #f5f8ff,
  main: #fafafa,
  form: rgba(239, 241, 244, 0.2),
  stopping: #C39700,
  complete:#008B58
);

$borderColor: (
  disable: #d9d9d9,
  normal: #ddd,
  slight: #f6f7f7,
  light: #f2f2f2,
  form:  rgba(221, 221, 221, 0.4)
);
