.table-select {
  //.el-input--prefix .el-input__inner {
  //  // prefix 用来做Tag显示, 不需要padding
  //  padding-left: 15px;
  //}
  .el-select__prefix:has(.prefix-tag) {
    margin-left: -6px;
  }
  // aria-describedby 表明下拉菜单显示
  .is-focused[aria-describedby] {
    .el-select__prefix {
      display: none;
    }
  }
  .prefix-tag.el-tag {
    max-width: unset;
    background-color: var(--el-color-primary-light-9);
  }
}
